<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><html lang="en"><head>
    <meta charset="UTF-8">
    <title>全民钱包数据小站</title>
    <link rel="stylesheet" href="/statics/dist/css/index.min.css">
    <link rel="stylesheet" href="/statics/dist/images/person.png">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_681895_noqq2q5u6pmvlsor.css">


</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo-box">
                <a href="/">
                </a>
            </div>
            <ul class="nav">
                <li class="active"><a href="/">身份证+银行卡</a></li>
                <li><a href="/duoduo/">薪贷造数</a></li>


                <li><a href="/rebitmqtest/">模拟风控返回MQ分值</a></li>
            </ul>

            <div class="auth-box">
                <i class="icon-person iconfont"></i>
                <a href="#">登录</a>/
                <a href="#">注册</a>
            </div>

        </div>
    </header>


    <form action="/duoduo/" method="post">
        <table>
            <tbody><tr><td>手机号：<input type="text" name="mobile"></td></tr>
            <tr><td>身份证号：<input type="text" name="idnumber" value="51372319860925824X"></td></tr>
            <tr><td>银行卡号：<input type="text" name="idyin" value="6222008815747509961"></td></tr>
            <tr><td> 测试环境：</td></tr>
            <tr><td><input type="radio" name="huanjing" value="a" checked="">A组</td></tr>
            <tr><td><input type="radio" name="huanjing" value="b">B组</td></tr>
            <tr><td><input type="radio" name="huanjing" value="c">C组</td></tr>
            <tr><td><input type="radio" name="huanjing" value="sit">SIT组</td></tr>
            <tr><td> 造数范围：</td></tr>
            <tr><td><input type="radio" name="jiedian" value="register">注册+登录</td></tr>
            <tr><td><input type="radio" name="jiedian" value="realNameAuth">身份证正反面+人脸识别+手持</td></tr>
            <tr><td><input type="radio" name="jiedian" value="sanAuth">实名+基本信息+运营商认证</td></tr>
            <tr><td><input type="radio" name="jiedian" value="edu">三项认证+点击额度评估</td></tr>
            <tr><td><input type="radio" name="jiedian" value="xuanAuth" checked="">三项认证+额度评估+邮箱认证+支付宝认证</td></tr>
            <tr><td><input type="submit" value="提交"></td></tr>
        </tbody></table>
    </form>


    <font size="3" color="red"></font>









</body></html></title>
</head>
<body>

</body>
</html>